/*#region TAGS */

html {
  background-image: linear-gradient(#ccc, #606060);
  height: 100%;
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
}

/*#endregion */





/*#region CLASSES */
.arena {
  width: 85%;
  margin: auto auto;
}

.header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  color: #F0F0F0;
  font-family: 'Lucida Console', monospace;
  font-size: 9pt;
  margin: auto;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 22px;
  left: 0px;
}

.footer a {
  color: #FFFFFE;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}

.footer a img {
  vertical-align: middle;
}

.queue {
  width: 100%;
  height: 112px;
  background-color: #ccc;
  overflow-x: scroll;
  border: solid 1px #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.status {
  text-align: center;
  padding-bottom: 11px;
}

.statusTable {
  margin: auto auto;
}

.statusLabels {
  font-weight: bold;
}

.commands {
  padding-left: 16px;
  margin-top: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.commandsTable {
  margin: auto auto;
}
.commandsTable tr td {
  vertical-align: top;
}

.instruction {
  display: inline-block;
  height: 71px;
  width: 112px;
  background-color: #E5E5FF;
  border: solid 1px navy;
  border-radius: 3px;
  margin-left: 16px;
  margin-top: 8px;
  padding: 3px;
  transition: 0.2s;
  vertical-align: top;
  text-align: center;
}

.instructionSel {
  width: 110px;
  margin-bottom: 9px;
}

.instructionText {
  width: 49px;
}
.instructionLabel {
  color: #000;
}

.running {
  background-color: #FFFFE5;
  font-weight: bold;
}

/*#endregion */


/*#region ELEMENT ID'S */

#addStep {
  background-color: darkblue;
  color: #FFFFFE;
  transition: 0.2s;
  border: solid 1px darkgray;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 184px;
  height: 36px;
  font-size: 12pt;
  font-family: 'Share Tech Mono', monospace;
  cursor: pointer;
}
#addStep:hover {
  background-color: #99f;
  color: #000;
  font-weight: bold;
}
#addStep:active {
  background-color: #E5E5FF;
  color: #003;
  font-weight: normal;
}

#loadTest {
  background-color: #008B00;
  color: #FFFFFE;
  transition: 0.2s;
  border: solid 1px darkgray;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 184px;
  height: 36px;
  font-size: 12pt;
  font-family: 'Share Tech Mono', monospace;
  cursor: pointer;
}
#loadTest:hover {
  background-color: #9f9;
  color: #000;
  font-weight: bold;
}
#loadTest:active {
  background-color: #E5FFE5;
  color: #003;
  font-weight: normal;
}

/*#endregion*/


/*#region Switch from https://proto.io/freebies/onoff/ */

.onoffswitch {
  position: relative; width: 144px; margin: auto;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #00E500; color: #000010;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 17px; margin: 6.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 110px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

/*#endregion*/